#diagramme {
  max-height: 500px;
  width: auto;
}

.image-title {
  font-style: italic;
}

.image-exemple-rendu {
  max-height: 500px !important;
  vertical-align: middle !important;
}

.image-gestion-projet {
  max-height: 500px !important;
  vertical-align: middle !important;
}

.image-icone-tech {
  height: 200px;
  width: auto;
}

.image-questions {
  width: 500px !important;
}
